@model IEnumerable<DoAn3DVH.Models.KhuyenMai>
@{
    ViewBag.Title = "KhuyenMai";
    Layout = "~/Views/LayoutAdmin.cshtml";
}
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Quản lý khuyến mại</h4>
                            <button class="btn btn-primary btn-round ml-auto" onclick="addOneKm()">
                                <i class="fa fa-plus"></i>
                                Thêm khuyến mại
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="./addKm" method="post" enctype="multipart/form-data">
                            <!-- Modal -->
                            <div class="modal fade" id="addOne" tabindex="-1" role="dialog" aria-hidden="true">
                                <input type="hidden" name="aoe" id="aoe" value="1" />
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header no-bd">
                                            <h5 class="modal-title">
                                                <span class="fw-mediumbold">
                                                    Thêm
                                                </span>
                                                <span class="fw-light">
                                                    mới
                                                </span>
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6 pr-0" id="hideMaKm">
                                                    <div class="form-group form-group-default">
                                                        <label>Mã khuyến mại</label>
                                                        <input id="aMaKm" name="aMaKm" type="text" class="form-control" placeholder="Điền vào">
                                                    </div>
                                                </div>
                                                <div class="col-md-6" id="hideMaSp">
                                                    <div class="form-group form-group-default">
                                                        <label>Mã sản phẩm</label>
                                                        <input id="aMaSp" name="aMaSp" type="text" class="form-control" placeholder="Điền vào">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pr-0">
                                                    <div class="form-group form-group-default">
                                                        <label>Tên khuyến mại</label>
                                                        <input id="aTenKm" name="aTenKm" text" class="form-control" placeholder="Điền vào">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Ngày bắt đầu</label>
                                                        <input id="aNgayBd" name="aNgayBd" type="text" class="form-control" placeholder="Điền vào">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Ngày kết thúc</label>
                                                        <input id="aNgayKt" name="aNgayKt" type="text" class="form-control" placeholder="Điền vào">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer no-bd">
                                            <button type="submit" id="addRowButton" class="btn btn-primary">Thực hiện</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <div class="col-sm-12">
                                <table id="add-row" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="add-row_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 200px;">Mã khuyến mại</th>
                                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 283px;">Mã sản phẩm</th>
                                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 283px;">Tên khuyến mại</th>
                                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 283px;">Ngày bắt đầu</th>
                                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 283px;">Ngày kết thúc</th>
                                            <th style="width: 127px;" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">@i.maKm</td>
                                                <td>@i.maSp</td>
                                                <td>@i.tenKm</td>
                                                <td>@i.ngayBatDau</td>
                                                <td>@i.ngayKetThuc</td>
                                                <td>
                                                    <div class="form-button-action">
                                                        <button class="btn btn-link btn-primary btn-lg" onclick="editOneKm('@i.maKm')">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <a class="btn btn-link btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xoá Khuyến mại này không?')" href="./XoaKm/@i.maKm">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addOneKm() {
        $("#aoe").val("1");
        $("#aMaKm").val("");
        $("#aMaSp").val("");
        $("#aTenKm").val("");
        $("#aNgayBd").val("");
        $("#aNgayKt").val("");
        $('#addOne').modal("show");
        $("#hideaMaKm").show();
        $("#hideMaSp").show();
    }
    function editOneKm(id) {
        $("#aoe").val("0");
        $("#hideMaKm").hide();
        $("#hideMaSp").hide();
        $.get("/Admin/get1Km", { id: id }, function (data) {
            $("#aMaKm").val(data.maKm);
            $("#aMaSp").val(data.maSp);
            $("#aTenKm").val(data.tenKm);
            $("#aNgayBd").val(data.ngayBatDau);
            $("#aNgayKt").val(data.ngayKetThuc);
        });
        $('#addOne').modal("show");
    }
</script>

